.gridBox {
    display: grid;
    /* repeat: lặp 3 lần tương ứng 3 column 
        mỗi col chiếm 1fr (1/3 size)  */
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, auto);  /* 2 rows */
    gap: 10px;
    width: 100%;
}

.gridBox img {
    width: 100%;  /* Make sure images scale to fill their grid cell */
    height: auto; /* Keep aspect ratio */
    display: block; /* Remove any inline spacing */
  }

.gridItem {
    overflow: hidden;
}

.gridItem img {
    width: 100%;
    height: auto;
    display: block;
    transition-property: transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-in; /* Set tốc độ chuyển động của transition (giống Tween)*/
}

.gridItem img:hover {
    transform: scale(1.3);
}